.logo img{
    transform: scale(1.3);
}
.erro404{
    display: block;
    position: relative;
    text-align: center;
    margin-top: 200px;
    background-color: #f00;
    color: #fff;
    padding: 20px;
}
.justify{
    text-align: justify;
}
.services ul{
    list-style: square;
}
.services ul li{
    text-align: left !important;
}
@media (max-width: 768px) {
    .icon-box{
        width: 100%;
    }
}

.contact button{
    display: block !important;
    position: relative !important;
    margin: 0 auto !important;
    width: 120px !important;
    background-color: #412F23 !important;
    color: #fff !important;
    border-radius: 4px !important;
}
.contact button:hover{
    background-color: #723a15 !important;
}
.ppost img{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 500px !important;
}
.portfolio-details{
    min-height: 400px;
}